---
// recibir propiedades de la página
const isMinimal = Astro.props.minimal;
---
<script src="/src/components/user/usercomponent.js" is:inline></script>
<div id="UserProfile">
        <user-profile minimal></user-profile>
</div>
<script src="/src/components/user/userConnect.js"></script>
