---
import SidebarLayout from '@layouts/SidebarLayout.astro';
import Action from '@components/actions/ActionsEvents.astro';
---



<SidebarLayout title="multistreamASTRO" activeConfig="A">
	<div slot="logo">
		  
	</div>



	<div class="content">
             <Action />
	</div>
</SidebarLayout>


