---
import SidebarLayout from '../layouts/SidebarLayout.astro';
import ChatComponent from '../components/chatcomponents/ChatComponent.astro';
import TopViewersList from '../components/chatcomponents/topViewer.astro';
import Filters from '@components/filters.astro';

---



<SidebarLayout title="multistreamASTRO" activeConfig="A">
	<div slot="logo">
		<h1 class="logo-text">Logo</h1>
	</div>



	<div class="content">
                 <TopViewersList />
        <ChatComponent />
		<div class="m-4 p-4">
			<Filters/>
		</div>
	</div>
</SidebarLayout>


