---
import DocsLayout from '@layouts/DocsLayout.astro';
import NavItems from '@config/items/NavItems.astro';
import { documentationConfig } from 'src/config/documentation.js';
import 'github-markdown-css/github-markdown.css';
---

<DocsLayout title="multistreamASTRO">
	<div slot="logo">
		   
	</div>
	<div class="content grid gap-10">
		<div class="grid">
			<NavItems config={documentationConfig} showImages={true} layout='grid'>
			</NavItems>
		</div>
		<article class="markdown-body p-10 m-10">
		</article>
	</div>
</DocsLayout>


