---
import SidebarLayout from "@/layouts/SidebarLayout.astro";
import Example from "@/components/form/Example.vue";
---
<SidebarLayout>
  <h1>Fetch Component</h1>
  <p>Este es un ejemplo de uso del componente de fetch.</p>
  <Example client:load />
</SidebarLayout>