---
import SidebarLayout from '../layouts/SidebarLayout.astro';
import ReplaceConfig from '@components/vue/ReplaceConfig.vue';
import SystemHealth from '@components/SystemHealth.astro';
import Newconfig from '@components/replace/newitem/newconfig.astro';
---

<SidebarLayout title="multistreamASTRO" activeConfig="A">
	<div slot="logo">
	</div>

	<div class="content">
    <ReplaceConfig 
      client:only="vue"

    />
    
    <Newconfig />
    <SystemHealth/>
	</div>
</SidebarLayout>

<style>
  /* Puedes mantener estilos globales aquí o moverlos si son específicos del componente */
</style>