---
import SidebarLayout from '../layouts/SidebarLayout.astro';
// Importa el componente SolidJS
import ReplaceConfig from '@components/vue/ReplaceConfig.vue';
import SystemHealth from '@components/SystemHealth.astro';
import Newconfig from '@components/replace/newitem/newconfig.astro';
---

<SidebarLayout title="multistreamASTRO" activeConfig="A">
	<div slot="logo">
	</div>

	<div class="content">
    {/* 
      Renderiza el componente SolidJS aquí, pasando los datos iniciales como props.
      client:only="solid-js" asegura que el componente se renderice e hidrate en el cliente.
    */}
    <ReplaceConfig 
      client:only="vue"

    />
    
    <Newconfig />
    <SystemHealth/>
	</div>
</SidebarLayout>

<style>
  /* Puedes mantener estilos globales aquí o moverlos si son específicos del componente */
</style>