---
import SidebarLayout from '../layouts/SidebarLayout.astro';
import Voicecomponent from '../components/voicecomponents/voicecomponent.astro';
---



<SidebarLayout title="multistreamASTRO" activeConfig="A">
	<div slot="logo">
		 
	</div>

	<div class="content">
                 <Voicecomponent />
	</div>
</SidebarLayout>

