---
---
<script src="/src/components/menu/menu.js" ></script>
<script src="/src/components/chatcomponents/chatcomponents.js" ></script>

</script>
<custom-popup id="custom-popup" style="color: white;"></custom-popup>
<div  id="chat-container" class="chat1 chatcontainer">
  <message-container id="chatcontainer" wrapper-classes="maxh-20rem"></message-container>
</div>
<div class="gift2 giftcontainer">
  <message-container id="giftcontainer" wrapper-classes="maxh-20rem"></message-container>
</div>
<div class="events3 eventscontainer">
  <message-container id="eventscontainer" wrapper-classes="maxh-10rem"></message-container>
</div>
<script>
import { webcomponentevent, appendMessage, handlechat, handlegift, mapEvent, arrayevents,lastElement } from '/src/utils/chat.js';

import { TiktokEmitter, socket } from '../utils/socketManager';
import { openPopup, returnexploreroptions, setPopupOptions,returnOptions } from '/src/components/menu/menuutils.js';
TiktokEmitter.on('chat', async (data) => {
//  console.log("TiktokEmitter",data);
  handlechat(data);
});
TiktokEmitter.on('gift', async (data) => {
//  console.log("TiktokEmitter",data);
  handlegift(data);
});
const chatcontainer = document.getElementById('chatcontainer');
chatcontainer.addEventListener('message-menu',(event)=>{
    console.log("event chatcontainer",event.detail);
    const messageData = event.detail;
    const optionsName = {
      "explorer-1":"Explorer 1",
      "explorer-2":"Explorer 2",
      "explorer-3":"Explorer 3",
    }
    const menuOptions = [
      // emit array and foreach
        returnexploreroptions('home','home','home',()=>{
            console.log("optionschat", messageData);
        }),
        returnexploreroptions('explorer-2','Explorer 2','search',()=>{
            console.log("optionschat", messageData);
        }),
        returnexploreroptions('explorer-3','Explorer 3','menu',()=>{
            console.log("optionschat", messageData);
        }),
    ];
    setPopupOptions(returnOptions(menuOptions));
    openPopup(messageData.element?.originalTarget);
});
/*
[
{"badgeSceneType": 1,"type": "pm_mt_moderator_im","name": "Moderator"},
{"type": "image","badgeSceneType": 4,"displayType": 1,"url": "https://p19-webcast.tiktokcdn.com/webcast-va/subs_badge_Lv3.png~tplv-obj.image"},
{"type": "privilege","privilegeId": "7377851134149397254","level": 2,"badgeSceneType": 4},
{"type": "privilege","privilegeId": "7138381861675341604","level": 21,"badgeSceneType": 8},
{"type": "privilege","privilegeId": "7196929090442562309","level": 31,"badgeSceneType": 10},
{"type": "privilege","privilegeId": "7377851134149397254","level": 2,"badgeSceneType": 4}
]
*/
document.addEventListener('DOMContentLoaded', () => {
    lastElement();
});
</script>