---
import { type DocumentationConfig } from '../config/documentation'
interface Props {
  currentPage?: string;
  config?:DocumentationConfig;
  base:string;
}
const { 
    config = "Documentación", 
    currentPage,
    base
} = Astro.props;
---
{
    Object.entries(config).map(([key, page]) => (
      <a 
        href={`${base}${page.slot}`} 
        class={`nav-link ${currentPage === key ? 'active' : ''}`}
      >
        <span class="material-symbols-outlined">{page.icon}</span>
        <span class="nav-text">{page.name}</span>
      </a>
    ))
  }