---
import ActionsFormCsomponent from "./ActionsForm.astro";
import SwitchE from "@components/switchE.astro";
---
<dialog-container class="ActionModal" id="ActionModal">    
    <ActionsFormCsomponent id="actionForm">
      <div slot="fields">
        <SwitchE
        id="fetchForm"
        label="Habilitar Configuración HTTP"
        checked={false}>
        <http-request-config id="fetchForm_config"></http-request-config>
        </SwitchE>
      </div>
      <div slot="actions" class="ActionForm-buttons">
        <button type="button" class="btn btn-secondary" data-action="reset">
          Reiniciar
        </button>
        <button type="button" class="btn btn-secondary" data-action="export">
          Exportar
        </button>
        <button type="button" class="btn btn-secondary" data-action="import">
          Importar
        </button>
        <button type="button" class="btn btn-primary" data-action="submit">
          Guardar
        </button>
      </div>
    </ActionsFormCsomponent>
</dialog-container>
<script src="/src/components/actions/actions.js"></script>
